
.active {
    font-weight: bold;
    font-size: 25px;
}
.number{
    max-width: 1000px;
    margin-left: 100px;
    margin-top: 10px;
}
.number .line span{
    cursor: pointer;
border: 1px solid black;
padding: 5px;
}
.line{  
    display: inline;
    max-width: 700px;
}