.header {
    grid-area: header;
    background: blueviolet;
  
  }
  .header img{
    width: 40px;
    padding: 10px;
  }
  
  .auth{
    float: right;
    padding: 13px;
    cursor: pointer;
  }
  .auth a{
    color: white;
    font-size: 20px;

  }