.container{
padding-left: 30px;
max-width: 1200px;
min-height: 700px;
display: grid;
grid-template-areas: 
"header header"
"sidebar main";
grid-gap: 10px;
grid-template-rows: 60px 10fr;
grid-template-columns: 3fr 10fr;
}
.container-app-wrapper{
  grid-area: main;
  background: cadetblue;
  grid-template-columns: 10fr 10fr;
}